:root {
    --color-principal: #4FDDFA;
    --color-secundary: #00b0d3;
    --color-secundary-dark: #0096b4;
    --color-light-gray: #f9f9f9;
    --color-dark-grey: #414141;
    --color-white: white;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='45' height='45' fill='%23f9f9f9'/%3E%3C/svg%3E");
}

/* ICONOS */

/*
@font-face {
    font-family: 'icomoon';
    src: url('../assets/icons/icomoon.eot?flb6mo');
    src: url('../assets/icons/icomoon.eot?flb6mo#iefix') format('embedded-opentype'), url('../assets/icons/icomoon.ttf?flb6mo') format('truetype'), url('../assets/icons/icomoon.woff?flb6mo') format('woff'), url('../assets/icons/icomoon.svg?flb6mo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/

@font-face {
    font-family: 'icomoon';
    src: url('../assets/icons/icomoon.woff?flb6mo') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
    color: black;
}

.icon-arrow-right:before {
    font-size: 25px;
    color: var(--color-principal);
    content: "\ea3c";
}

.icon-mail:before {
    content: "\ea86";
}

.icon-facebook:before {
    content: "\ea91";
    color: #3B60A6;
    background: white;
}

.icon-instagram:before {
    content: "\ea92";
    color: #C42C65;
}

.icon-whatsapp:before {
    content: "\ea93";
    color: #00D424;
}

.icon-twitter:before {
    content: "\ea96";
    color: #65BBF2;
}

/* /ICONOS */

a {
    color: var(--color-secundary-dark);
}

a:hover {
    color: var(--color-secundary-dark);
}

.btn-primary {
    background: var(--color-secundary);
    border: 1px solid var(--color-secundary);
}

.btn-outline-primary {
    border: 1px solid var(--color-secundary);
    color: var(--color-secundary-dark);
}

.btn-primary:hover {
    background: var(--color-secundary-dark);
    border: 1px solid var(--color-secundary-dark);
}

.btn-outline-primary:hover {
    color: var(--color-white);
    background: var(--color-secundary-dark);
    border: 1px solid var(--color-secundary-dark);
}

#navbar .btn {
    color: var(--color-secundary);
    border: 1px solid var(--color-secundary);
}

.navbar-brand {
    color: var(--color-dark-grey) !important;
    font-size: 30px;
}

.dropdown-item.active, .dropdown-item:active {
    background: var(--color-secundary-dark);
}

#btn-contact .active {
    color: var(--color-white);
}

#btn-contact .btn:hover {
    color: var(--color-white);
    background: var(--color-secundary);
}

.services strong, #clients strong {
    color: var(--color-secundary-dark);
}

#title-services {
    color: var(--color-dark-grey);
    margin: 30px 0 40px 0;
}

.services .container-fluid {
    background: var(--color-dark-grey);
}

.steps strong {
    color: var(--color-dark-grey);
}

/*.callto-demostration {
    padding: 10px;
    border-radius: 10px;
    background: var(--color-dark-grey);
    color: var(--color-white);
}*/

#pro {
    z-index: 1;
}

.card {
    background: var(--color-light-gray);
    border-radius: 0;
}

.card span {
    font-size: 13px;
    color: white;
    background: var(--color-secundary);
}

.card h4 {
    color: var(--color-dark-grey);
}

.card h1 {
    color: var(--color-secundary);
}

.card ul {
    color: #545454;
}

#clients h2 {
    color: var(--color-dark-grey);
}

footer {
    color: var(--color-light-gray);
    background: var(--color-dark-grey);
}

.active {
    border-bottom: 2px solid var(--color-secundary);
}

#modalDemostracion iframe, #modalContact iframe {
    height: 70vh;
}

/* STEPS */

.circles-list ol {
    list-style-type: none;
    padding: 0;
}

.circles-list ol>li {
    position: relative;
    margin-bottom: 3.125em;
    background: var(--color-light-gray);
}
/* /STEPS */

/* SUCCESS */

.success h2 {
    color: #28a745;
}

/* /SUCCESS */